/*Fonts*/
@font-face {
	font-family: GothamM;
	src: url('../fonts/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamR;
	src: url('../fonts/14078.ttf');
}

/*Body*/

body {
    margin: 0;
    line-height: 1.3;
    background: url("../images/bg.jpg") no-repeat;
	 background-size: 100vw auto;
	 overflow-x: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1, h2, h3, h4, h5, h6 {
        margin: 0;
}




/* Header */

.menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link {
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 15px;
	display: block;
}
.menu_link:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
}
.menu_link_btn{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
}
.menu_link_btn:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
}
.link_planet{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 0 35px;
	display: block;
}
.link_planet:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
}
.planet_list{
	transform: scaleY(0);
	transition: 0.2s;
	position: absolute;
	transform-origin: top;
}
.planet_list_active{
	transform: scaleY(1);
	position: static;
}
.arrow{
	height: 16px;
	margin-right: 4px;
	margin-bottom: -1px;
	transition: 0.2s;
}
.arrow_active{
	transform: rotate(90deg);
}

.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}

.poloska1{
	position: absolute;
	width: 350px;
	height: 3px;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	bottom: 21.5vh;
	right: 8vw;
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska2{
	position: absolute;
	width: 430px;
	height: 7px;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	bottom: 35vh;
	right: -3vw;
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska3{
	position: absolute;
	width: 230px;
	height: 5px;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	bottom: 29.5vh;
	right: -3vw;
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska_active{
	transform: rotate(-26deg) scaleX(1);
	transition: 0.2s;
	transform-origin: right;
}
.poloska_act{
	transform: rotate(-26deg) scaleX(0);
}
header {
	width: 100%;
	margin: 0 auto;
	height: 20vh;
}
.header_inner {
	width: 100%;
	max-width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin: 20px;
}
.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}
@media (max-width: 1450px){
	.logo{
		transform: scale(0.9);
	}
	.menu_btn{
		transform: scale(0.9);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		margin: 10px 15px;
	}
	.poloska1{
		bottom: 25vh;
	}
}

@media (max-width: 900px) {
	header{
		height: 15vh;
		justify-content: center;
		align-content: center;
	}
	.logo{
		transform: scale(0.7);
		margin: 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		margin: 9px 15px;
	}
	.poloska1{
		right: 13vw;
	}
}

@media (max-width: 600px) {
	header{
		justify-content: center;
		align-content: center;
	}
	.logo{
		transform: scale(0.6);
		margin: 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
	.nav_menu{
		margin: 90px 25px;
	}
	.menu_link{
		margin: 8px 15px;
	}
	.poloska1{
		right: 20vw;
	}
}

/*Intro*/

.intro {
	flex-direction: column;
	justify-content: center;
	width: 100%;
	display: flex;
}

.container {
	width: 100%;
}



h1 {
    display: flex;
    font-family: Gotham Pro;
    text-transform: uppercase;
    color: #7083ae;
    order: 1;
    letter-spacing: 18px;
    justify-content: center;
    font-size: 60px;
    text-decoration: underline #ffffff4a 5px;
    margin-bottom: 60px;
	text-align: center;
}	

.text {
    color: white;
    font-family:Gotham Pro Light;
    font-size: 25px;
}


.text__sector {
    width: 50%;
    margin-left: 140px;
}

br {
    margin: 15px;
}





/*Tour info*/

.tour__info {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100vh;
}



h2 {
    display: flex;
    font-family: Gotham Pro;
    color: white;
    order: 1;
    justify-content: center;
    font-size: 40px;
    text-decoration: none;

}

.text__sector2 {
    width: 43%;
    margin-left: 140px;
    line-height: 1.2;
    margin-bottom: 200px;
}

.text2 {
    color: white;
    font-family: Gotham Pro Light;

    font-size: 23px;
}

/*Facts*/

.text__sector3{
    width: 45%;
    justify-content: right;
    line-height: 1.2;
    display: flex;
    margin-left: auto;
    width:80vh;
}

.text3 {
    white-space: pre;
    font-family: Gotham Pro Light;

    font-size: 23px;
    color: white;
    margin-right: 140px;

}

.facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }

/*Last*/

.last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;   
}

.quote__section {
    display: flex;
    justify-content: center;
}

.quote {
    white-space: pre;
    font-family: Gotham Pro;
    font-size: 27px;
    color: white;
    justify-content: center;
    display: flex;
    text-align: center;
}


.button {
    max-width: 405px;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-self: flex-end;
    z-index: 5;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Gotham Pro;
    color: #ffe852;
    font-size: 28px;
    letter-spacing: 8px;
    text-shadow: 0px 0px 5px black;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px 12px 10px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.btn:hover {
   color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;

}

